**/node_modules
**/.env
**/.env.example
**/*.db
**/*.tsbuildinfo
.devcontainer
.direnv
.envrc
.envrc.local
.git
.github
.gitignore
.idea
.oxfmtrc.json
.oxlintrc.json
.vscode
flake.lock
flake.nix
knip.ts
lefthook.yml
PG_DATA
README.md
REDIS_DATA
