**/node_modules
**/.env
**/.env.example
**/*.db
**/*.tsbuildinfo
.git
.gitignore
.github
.idea
.vscode
.devcontainer
.direnv
.envrc
.envrc.local
flake.nix
flake.lock
lefthook.yml
biome.json
knip.ts
README.md
PG_DATA
REDIS_DATA
