if has nix; then
  if has devenv; then
    use devenv
    watch_file devenv.nix devenv.yaml overlays.nix
  else
    use flake
    watch_file flake.nix overlays.nix
  fi
fi

source_env_if_exists .envrc.local
dotenv
