version: '3.8'

services:
  app:
    build: .
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - db
    env_file:
      - .env
    ports:
      - 5555  # prisma studio

  db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - db
    env_file:
      - .env

volumes:
  postgres-data:

networks:
  db: