services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: ../.env

    volumes:
      - ../..:/workspaces:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    networks:
      - db
      - redis

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    image: postgres:18-alpine
    restart: unless-stopped
    networks:
      - db
    volumes:
      - postgres-data:/var/lib/postgresql
    env_file: ../.env

  test-db:
    image: postgres:18-alpine
    restart: unless-stopped
    env_file: ../.env
    networks:
      - db
    volumes:
      - postgres-test-data:/var/lib/postgresql

  redis:
    image: redis:latest
    restart: unless-stopped
    networks:
      - redis
    volumes:
      - redis-data:/data
      - ../redis.conf:/usr/local/etc/redis/redis.conf:ro
    command: redis-server /usr/local/etc/redis/redis.conf

networks:
  db:
  redis:

volumes:
  postgres-data:
  postgres-test-data:
  redis-data:
